/* aljskajs */




body {
    direction: rtl;
}

.main-page {
    background : url(/images/body.jpg) repeat-y;
}

.main-content {
    margin-right : 10px;
    min-height: 500px;
}


.header {
    height: 70px;
    background: url(/images/menu.jpg) no-repeat;

}

.footer {
    height: 43px;
    background: url(/images/footer.png) no-repeat;
    padding-top: 30px;        
}

.sidebar {
    padding-right: 10px;
}

.dashboard {
    height: 40px;
}

.search {
    background: url(/images/search.jpg) no-repeat;
}

.search input {
    margin-right: 40px;
    border: none;
    background-color: #B5B085;
}

.page-title {
    font-family : Dorian;
    font-size : 18px;
    padding-top : 5px;
    border-bottom: 3px solid #B3E9AF;
    padding-right: 20px;
}

.pagination {
    padding-top: 20px;
}
.pagination a , .current {
    border: 1px solid #9AAFE5;
    color: #0E509E;
    font-weight: bold;
    padding: 1px 6px;
    text-decoration: none;
}

.pagination .current {
    background-color: #2E6AB1;
}


.box {
    /* background: url("/images/wrapper.png") no-repeat scroll 0 0 transparent; */
    padding: 0;
    /*padding-right: 7px;
    padding-left: 7px;*/
    background-color: #FADA6F;
    border: 1px solid #CBC3BB;
    list-style: none outside none;
    width: 100%;
}

.box h4 {
    background: none repeat scroll 0 0 #725334;
    color: #CBC3BB;
    font-family: Dorian;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.box .content {
    padding: 7px;
    padding-top: 0;
}

#logo {
    font-family: Dorian;
    padding-right: 10px;
}
#mainmenu {
    font-family: Dorian;
}

#mainmenu ul li a {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 8px;
    text-decoration: none;
}

#mainmenu ul {
    margin: 0;
    padding: 20px 20px 5px;
}

#mainmenu ul li {
    display: inline;
}

.postit {
    -moz-transform: rotate(-5deg);
    background-color: #D2E6B9;
    float: right;
    font-family: Dorian;
    height: 130px;
    margin-bottom: 20px;
    margin-left: 15px;
    padding-right: 10px;
    width: 190px;
}
.postit {
    -moz-transform: rotate(-6deg);
}
.postit:nth-child(2n+1) {
    -moz-transform: rotate(4deg);
    background: none repeat scroll 0 0 #EDC3B6;
    position: relative;
    top: 5px;
}
.postit:nth-child(3n) {
    -moz-transform: rotate(-3deg);
    background: none repeat scroll 0 0 #BED2A5;
    position: relative;
    top: -5px;
}
.postit:nth-child(5n) {
    -moz-transform: rotate(5deg);
    background: none repeat scroll 0 0 #BED2A5;
    position: relative;
    top: -10px;
}
.postit:hover, .postit:focus {
    -moz-transform: scale(1.25);
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.698);
    position: relative;
    z-index: 5;
}
.postit h4 {
    font-family: Dorian;
    font-size: 12px;
    padding-right: 10px;
    padding-top: 10px;
}
.postit a {
    color: #0099FF;
}


@font-face{
    font-family: 'Dorian';
    src: url('KtavYadCLMBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
